<!doctype html>
<html>

<head>
  <title>
    <% if(user.f_name) {%>
      <%=user.f_name%>
        <%=user.l_name%>
          <%} else {%> АДМИН
            <%}%>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <%if(user.role == "ADMIN"){%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <%}%>
      <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <%include ../header %>
    <div class="container text-center" style="min-height:0px">
      <div class="margin-40 mobile-none"></div>
      <div class="row">
        <div class="offset-md-4 col-md-4 card shadow" style="padding: 50px;">
          <p>
            <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 3rem;"></i>
          </p>
          <p class="h3">
            <%=user.f_name%>
              <%=user.l_name%>
          </p>
          <p>Команда:
            <a href="team" class="button">
              <u>
                <%if(user.nameTeam != "none"){%>
                  <%=user.nameTeam%>
                    <%} else {%>
                      Создать
                      <%}%>
              </u>
            </a>
          </p>
          <p>Баланс:
            <i>
              <%=user.tokens%> MFC</i>
          </p>
          <p>Институт:
            <a href="/rating/institut/<%=user.institut%>" class="button">
              <u>
                <%=user.institut%>
              </u>
            </a>
          </p>
          <p>Группа:
            <a href="/rating/group/<%=user.group%>" class="button">
              <u>
                <%=user.group%>
              </u>
            </a>
          </p>

          <div class="form-group">
            <label for="">Ваша реферальная ссылка</label>
            <input type="text" class="form-control" name="ref-input" id="ref-input" aria-describedby="helpId" placeholder="Обнови страницу для получения"
              value="dmf-imit.ru/reg?ref=<%=user.username%>">
            <small id="helpId" class="form-text text-muted">Подробности узнаете во время ДМФ</small>
          </div>
          <div id="achivements" class="mt-20">
            <p class="text h3 mt-20">Достижения:</p>
            <%num = 0%>
              <div class="row">
                <%achivements.map((achiv, ind)=>{%>
                  <%if(user.achivements.indexOf(achiv._id) > -1){%>
                    <%num++%>
                      <div class="col-6">
                        <button type="button" class="btn-achive" data-toggle="modal" data-target="#model<%=achiv._id%>">
                          <figure data-toggle="tooltip" title="<%=achiv.text%>">
                            <img src="<%=achiv.img%>" class="achive achive-middle" alt="<%=achiv.text%>" />
                            <figcaption>
                              <%=achiv.title%>
                            </figcaption>
                          </figure>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="model<%=achiv._id%>" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class="modal-title"><%=achiv.title%></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <img src="<%=achiv.img%>" class="achive achive-large" />
                                <p class="text h5"><%=achiv.text%></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%}%>
                        <%})%>
              </div>
              <%if(num == 0){%>
                <p class="text txt-muted">Ты ещё не получил ни одного достижения :С</p>
                <p class="text txt-muted">Старайся лучше, мы верим в тебя!</p>
                <%}%>
          </div>
        </div>
        <%if(user.role == "ADMIN"){%>
          <div class="offset-md-4 col-md-4 card shadow" style="padding: 20px; margin-top: 10px; margin-bottom: 10px;">
            <div class="">
              <div class="form-group">
                <form action="/admin/give_tokens" method="post">
                  <label for="tokens">Выдать себе токены</label>
                  <input type="text" class="form-control" name="tokens" id="tokens" placeholder="Magick" value="100">
                  <button type="submit" class="btn btn-outline-dark">Выдать</button>
                </form>
              </div>
              <style>
                u>a {
                  color: black;
                  text-decoration: none;
                }
              </style>
              <!-- <a class="text-danger" href="/mfdzr_info">Прохождение Дозора</a> -->
              <!-- <br> -->
              <u>
                <a href="/admin/users">Список пользователей</a>
              </u>
              <br>
              <u>
                <a href="/admin/teams">Список команд</a>
              </u>
              <br>
              <u>
                <a href="/admin/transactions">Список транзакций</a>
              </u>
              <br>
              <u>
                <a href="/admin/achivements">Список достижений</a>
              </u>
              <br>
              <u>
                <a href="/admin/news">Список новостей</a>
              </u>
              <br>
              <div class="form-group mt-20">
                <label for="achiv">Изменить свои достижения:</label>
                <select class="selectpicker dropup" data-dropup-auto="false" multiple id="achiv" name="achiv">
                    <%achivements.map((ach)=>{%>
                      <option value="<%=ach._id%>">
                        <%=ach.title%>
                      </option>
                      <%})%>
                </select>
              </div>
              <button type="button" class="btn btn-outline-dark" onclick="updateAchiv()">Изменить</button>
              <!-- <button type="button" class="btn btn-outline-danger" onclick="dozor()">Начать опрос</button> -->
            </div>
          </div>
          <%}%>
      </div>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <%if(user.role == "ADMIN"){%>
      <script>
        function dozor() {
          if (confirm("Ты точно уверен что пришло время начинать голосование?")) {
            if (confirm("Отменить это будет уже нельзя! Публикуем новость?")) {
              $.post('/start_vote', function (data) {
                alert(data);
                alert('Кнопка здесь так и останется, ибо мне лень.')
              })
            }
          }
        }
        function updateAchiv(){
          $.post('/admin/achivements/user/update', {user: "<%=user.username%>", achivements: $('#achiv').val()}, (data, status, jqxhr)=>{
            if(data.status ==='OK'){
              window.location.reload();
            } else {
              alert(data.msg);
            }
          })
        }
      </script>
      <%}%>

</body>

</html>