<!doctype html>
<html lang="en">

<head>
  <title>Новости</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <style>
    .cat-loader>.img {
      min-height: 100px;
      min-width: 100px;
      width: 100%;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
  <%include header %>
    <div class="container-fluid" style="margin: 5px 0 0 0;">
      <%if(news.length == 0){%>
        <p class="h3">Новостей пока нет... Но вот вам котики. (Кликайте для смены картинки)</p>

        <div class="cat-loader">
          <img id="meow" class="img" onclick="updCat()" />
        </div>


        <script>
          function updCat() {
            $('#meow').attr('src', "");
            $.get('http://aws.random.cat/meow', (data, status, jqxhr) => {
              $('#meow').attr('src', data.file);
            });
          }
          updCat();
        </script>
        <%} else {%>
          <div class="container">
            <div class="row">
              <%news.forEach((tmp, ind)=>{%>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <a class="news" href="/news/<%=tmp._id%>">
                    <div class="news__block">
                      <img class="news__image" src="https://sun9-39.userapi.com/c851224/v851224565/19ab5b/jsDldWvX9So.jpg">
                      <div class="news__title">
                        <h2 class="pull-left trap-right">
                          <span>
                            <%=tmp.title%>
                          </span>
                        </h2>
                      </div>
                    </div>
                    <p class="news__secondText">
                      <%=tmp.preview%>
                    </p>
                  </a>
                </div>
                <!--      <div class="news">-->
                <!--        <a class="news__title" href="/news/<%=tmp._id%>">-->
                <!--          <%=tmp.title%>-->
                <!--        </a>-->
                <!--      </div>-->
                <%})%>
            </div>
          </div>
          <%}%>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>