<!doctype html>
<html lang="en">
  <head>
    <title><%=name%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    
  </head>
  <body>
    <%include ../header %>
    <div class="container">
        <% if (msg.length > 0) { %>
            <div class="alert alert-danger"><%=msg%></div>
        <% } else {%>
            <% if (isVer) {%>
        <p class="h3" style="word-break: break-word;"><%=name%></p>
        <% if(isInv) {%>
            <p><a href="/team/<%=name%>/accept" class="btn btn-success btn-sm">Принять заявку</a> <a href="/team/<%=name%>/reject" class="btn btn-danger btn-sm">Отклонить заявку</a></p>  
        <%}%>
        <table class="table table-light table-hover table-stripped">
            <thead class="thead-dark">
                <tr>
                    <th>Логин</th>
                    <th><div class="d-none d-md-inline">Фамилия</div></th>
                    <th><div class="d-none d-md-inline">Институт</div></th>
                    <th>Группа</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(re){ %>
                    <tr>
                        <td scope="row"><a href="/profile/<%=re.username%>" class="button"><%=re.username%></a></td>
                        <td><div class="d-none d-md-inline text-capitalize" ><%=re.l_name%></div></td>
                        <td><div class="d-none d-md-inline"><%=re.institut%></div></td>
                        <td><%=re.group%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
        <%} else {%>
            <p class="h2 text text-danger">Ожидайте подтверждения вашего аккаунта.</p>
        <%}%>
        <%}%>
            
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>